#list1 .form-control {
    border-color: transparent;
  }
  #list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
  }
  #list1 .select-input.form-control[readonly]:not([disabled]) {
    background-color: #fbfbfb;
  }

  .customBg{
    background-color: rgb(8 16 100) !important;
    color: #fff !important;
  }
  .customBg ul li{
    color: #fff;
  }
  .text-muted {
    --bs-text-opacity: 1;
    color: #FFEB3B!important;
}